html {
    background-image: url(image/go1.jpg);
    background-size: cover;
}

* {
    box-sizing: border-box;
}

h1 {
    text-decoration: none;
    color: white;
    text-align: center;
}

#he {
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


/* Style the header */

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}


/* Create two columns/boxes that floats next to each other */

nav {
    float: left;
    width: 30%;
    height: auto;
    /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}


/* Style the list inside the menu */

.navbar {
    width: 100%;
    background-color: #555;
}

.navbar a {
    float: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    height: auto;
    background-color: #f1f1f1;
    /* only for demonstration, should be removed */
}


/* Clear floats after the columns */

section:after {
    content: "";
    display: table;
    clear: both;
}

#bong {
    text-align: center;
    height: 3cm;
    width: 5cm;
    border-radius: 50%;
    border-radius: 25px;
}


/* Style the footer */

footer {
    background-color: gray;
    padding: 10px;
    text-align: center;
    color: black;
}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */

@media (max-width: 600px) {
    nav,
    article {
        width: 100%;
        height: auto;
    }
}

.open-button {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}


/* The popup chat - hidden by default */

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* Full-width textarea */

.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}


/* When the textarea gets focus, do something */

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/send button */

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}